body{
    font-family: 'PT Sans', helvetica;
}
.axis text {
    font: 10px helvetica;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar-label {
  font-size: 10px;
  fill: #888;
}

#map
{
  width:400px;
  height:400px;
  display: inline-block;
  margin:0px
}

#topics
{
  width:400px;
  height:400px;
  display: inline-block;
  margin:0px
}

html, body
{
  height: 100%;
}

.row {
  text-align:center;
}